[Unit]
Description=Riemann reporter
After=network.target

[Service]
Type=simple
WorkingDirectory=/srv/riemann-reporter
ExecStart=[path-of-virutalenv]/bin/hy riemann-reporter.hy localhost 5555 --config config.conf
Restart=on-abort

[Install]
WantedBy=multi-user.target
